.flightComponent{
	.em-booking_bar--links{
		flex:1;
		    li{
		    	font-size: 16px;
		    	display: inline-block;
				margin: 0 25px 5px 0;
				a{
					text-decoration: none;
    				color: #666;
    				 position: relative;
   					 padding-right: 10px;
    				&:after{
    					    content: "";
						    position: absolute;
						    top: 33%;
						    right: 0px;
						    margin-left: 0;
						    background-image: url(https://www.swiss.com/CMSContent/web/PublishingImages/icon/global2x--sprite--evo.png);
						    background-size: 431px 398px;
						    background-position: -159px -354px;
						    width: 7px;
						    height: 7px;
    				}
    				&:hover, &:focus{
    					color: #BE1902;
    				}
				}
			}
	}
	.em-booking_bar_submit{
		float: right;
		width:23%;
		button{
			cursor: pointer;
		}
		
	}
}