.react-tabs {
  &__tab-list {
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;
  }
  &__tab:first-child{
     margin-left:0;
  }
  &__tab:last-child{
     margin-right:0;
  }
  &__tab {
    flex:1;
    position: relative;
    list-style: none;
    padding: 15px;
    cursor: pointer;
    text-align:center;
    background-color:rgba(51,51,51,0.9);
    color:#fff;
    font-weight: 300;
    margin-left: 1px;
    margin-right: 1px;


    &--selected {

      background-color: rgba(255,255,255,0.9);
      color: #BE1902;

    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }

    &:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      outline: none;

     
    }
  }

  &__tab-panel {
    display: none;
    background-color: rgba(255,255,255,0.9);
    padding:15px;

    &--selected {
      display: block;
    }
  }
}