.inputSelectPassengers{
	background: white;
	position: relative;
	font-size: 18px;
	.em-passenger-dropdown{
		display: flex;
		a.dropdown__trigger {
			&:after{
				width: 0;
			    height: 0;
			    border: 4px solid transparent;
			    border-top-color: #333;
			    border-bottom: none;
			    content: "";
			    position: absolute;
			    right: 15px;
			    top: 50%;
			}
			flex:1;
			p{
				width: 100%;
				font-size: 18px;
				padding: 24px 12px 6px 25px;
				box-sizing: border-box;
				background: transparent;
				z-index: 2;
				border: 1px solid #CDCDCD;
				transition: opacity .1s, bottom .1s;
				position:relative;
				margin:0;
			}
			label{
				position: absolute;
				transition: opacity .1s, top .1s;
				left: 25px;
				color: #666;
				z-index:1;
				top:10px;
				font-size: 12px;
			}
		}
		
		.dropdown__content{
			top:52px;
			width: 100%;
			.inputNumberCounter{
				    border: 1px solid #CDCDCD;
				    border-top:0;
			}
			.em-close-button{
				padding: 17px;
			    text-align: center;
			    background-color: white;
			    cursor: pointer;
			}
		}

	}




	

}