.inputCoupleOriginDestiny{
	position:relative;
	div.inputAutocompleter{
		width: 50%
	}
	div.inputAutocompleter:nth-child(2){
		left: -1px;
	}
	div.em-icon{
		position: absolute;
		left: calc(50% - 13px);
    	top: 30%;
    	z-index: 3;
		.em-icon-flight{
			background-image: url("https://www.swiss.com/CMSContent/web/PublishingImages/icon/evo2x--sprite--evo.png");
		    background-size: 396px 389px;
		    
		    display: inline-block;
		    width: 23px;
    		height: 23px;
    		background-color: white;
    		background-position: -365px -117px;


		}
	}
}