.inputCoupleDatePickerInitFinish{
	position:relative;
	.em-calendar-date-picker{
		position:absolute;
		z-index: 4;
	}
	.em-display-flex{
		div.inputText:nth-child(2){
			left:-1px;
		}
	}
	.inputText{
		width: 50%;
	}
	div.em-icon{
		position: absolute;
		left: calc(50% - 21px);
    	top: 26%;
    	z-index: 3;
		.em-icon-flight{
			background-image: url("https://www.swiss.com/CMSContent/web/PublishingImages/icon/evo2x--sprite--evo.png");
		    background-size: 396px 389px;
		    
		    display: inline-block;
		    width: 23px;
    		height: 23px;
    		background-color: white;
    		background-position: -365px -117px;


		}
	}

}