.inputAutocompleter{
	background: white;
	position: relative;
	font-size: 18px;
	input{
		width: 100%;
		font-size: 18px;
		padding: 14px 12px 16px 25px;
		border-width: 0;
		box-sizing: border-box;
		background: transparent;
		z-index: 2;
		border: 1px solid #CDCDCD;
		transition: opacity .1s, bottom .1s;
	}
	label{
		position: absolute;
		top: calc(50% - 0.65em);
		transition: opacity .1s, top .1s;
		left: 25px;
		color: #666;
		z-index:1
	}
	&.has-value{
		input{
			padding: 24px 12px 6px 25px;
		}
		label{
			top:10px;
			font-size: 12px;
		}
		
	}
}