.inputNumberCounter{
	font-size:18px;
	background-color:white;
	overflow: auto;
	padding: 10px;
	label{
		float: left;

		small{
			display: block;
			opacity: 0.6;
			font-size: 13px;
		}
	}
	.em-input-number{
		float: right;
		input{
			    font-size: 1.28571rem;
			    display: table-cell;
			    text-align: center;
			    margin-top: 1px;
			    height: 32px;
			    width: 36px;
			    border: 1px solid #ccc;
			    vertical-align: middle;
			    border-radius: 0 !important;
			    box-shadow: none;
		}
		input[type=number]::-webkit-inner-spin-button, 
		input[type=number]::-webkit-outer-spin-button { 
		  -webkit-appearance: none; 
		}

		input[type=number] {
		  -moz-appearance: textfield;
		}
	}
}