.inputFlightToggle{
	position:absolute;
	label{
		display: block;
	    position: relative;
	    letter-spacing: -1ex;
	    text-indent: -9999px;
	    color: transparent;
	    text-decoration: none;
	    line-height: 1;
	    cursor: pointer;
	    width: 42px;
	    height: 28px;
	    border-radius: 14px;
	    overflow: hidden;
	    background-color: white;
	    will-change: transform;
	    &:before{
	    	content: '';
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    border-radius: 14px;
		    top: 0;
		    left: 0;
		    box-shadow: inset 0 0 0 1px #999
	    }
	    &:after{
	    	content: '';
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: -50%;
		    background-color: #BE1902;
		    -webkit-transform: translateX(0);
		    -ms-transform: translateX(0);
		    transform: translateX(0);
		    will-change: transform;
		    transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
		    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
		    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

	    }

	    span{
			    position: absolute;
			    z-index: 1;
			    width: 50%;
			    height: 100%;
			    top: 0;
			    display: block;
			    &.em-flight_toggle--single{
			    	&:after{
			    	    background: url("https://www.swiss.com/CMSContent/web/PublishingImages/icon/evo2x--sprite--evo.png");
			    	    background-size: 396px 389px;
			    	    background-position: -365px -91px;
					    width: 24px;
					    height: 24px;
				
					    position: absolute;
					    top: 50%;
					    margin-top: -12px;
					    left: 0;
					    content:'';
			    	}
			    }


			     &.em-flight_toggle--return{
			     	left: 50%;
				    &:after{
				    	background: url("https://www.swiss.com/CMSContent/web/PublishingImages/icon/evo2x--sprite--evo.png");
			    	    background-size: 396px 389px;
			    	    background-position: -367px -143px;
					    width: 24px;
					    height: 24px;
				
					    position: absolute;
					    top: 50%;
					    margin-top: -12px;
					    left: 0;
					    content:'';
						    
				    }
				}
	    }
	}
	&.has-value{
	    		label:after{
	    			    transform: translateX(100%);
	    		}
	    		label{
	    			    span{
	    			     	&.em-flight_toggle--single{
			    				&:after{
			    					background: url("https://www.swiss.com/CMSContent/web/PublishingImages/icon/evo2x--sprite--evo.png");
						    	    background-size: 396px 389px;
						    	    background-position: -365px -65px;
								    width: 24px;
								    height: 24px;
							
								    position: absolute;
								    top: 50%;
								    margin-top: -12px;
								    left: 0;
								    content:'';
			    				}
			    			}
			    			 &.em-flight_toggle--return{
			     	
				    			&:after{
				    				background: url("https://www.swiss.com/CMSContent/web/PublishingImages/icon/evo2x--sprite--evo.png");
						    	    background-size: 396px 389px;
						    	    background-position: -367px -194px;
								    width: 24px;
								    height: 24px;
							
								    position: absolute;
								    top: 50%;
								    margin-top: -12px;
								    left: 0;
								    content:'';
				    			}
				    		}	
			    		}
	    		}
	    }
	input{
		position: absolute;
    	opacity: 0;
    }
}