.buttonControl{
	font-size: 1.28571rem;
    display: table-cell;
    position: relative;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    width: 30px;
    height: 36px;
    vertical-align: middle;
}