.bookingbarContainer{
	.react-tabs__tab-list{
		.react-tabs__tab{
			display: flex;
		    align-items: center;
		    justify-content: center;
			span.icon{
				background-image: url("https://www.swiss.com/CMSContent/web/PublishingImages/icon/evo2x--sprite--evo.png");
			    background-size: 396px 389px;
			    
			    display: inline-block;
			    width:30px;
			    height: 30px;
			    &-flight{
			    	background-position: -167px -67px;
			    }
			    &-hotel{
			    	background-position: -295px -275px;
			    }
			    &-rentalcar{
			    	background-position: -299px -199px;
			    }
			    &-swiss{
			    	background-position: -365px -1px;
			    }
			}
		
		    &--selected{
			span.icon{
				 &-flight{
			    	background-position: -199px -275px;
			    }
			    &-hotel{
			    	background-position: -307px -307px;
			    }
			    &-rentalcar{
			    	background-position: -233px -133px;
			    }
			    &-swiss{
			    	background-position: -365px -33px;
			    }
			}
		}
		}


	}
}