.app-bg{
	background-image:url("https://www.swiss.com/CMSContent/web/contentimages/stage/various/window.jpg");
	padding:20px;
	min-height:400px;
	background-position: center;
	background-size:cover;
}